#stopwatch {
  font-family: digital-font;
  font-size: 2.25rem
}
.container {
  height: calc(100% - 56px);
  font-weight: bolder;
  color: #080808;

  .cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      img {
        opacity: 0;
        transition: 0.5s all;
      }
    }

    .card.show {
      img {
        opacity: 1 !important;
        transition: 0.5s all;
      }
    }
  }

  @media (orientation: portrait) {
    .cards.animals .card {
      width: 40vw;
      max-width: 30vh;
    }
    .cards.tools .card {
      width: 40vw;
      max-width: 18vh;
    }
    .cards.fruits .card {
      width: 22.5vw;
      max-width: 22.5vh;
    }
  }

  @media (orientation: landscape) {
    .cards.animals{
      flex-direction: column;
      align-items: center;

      .card {
        width: 40vh;
        max-width: 30vw;
      }
    }
    .cards.tools .card {
      width: 40vh;
      max-width: 18vw;
    }
    .cards.fruits .card {
      width: 22.5vh;
      max-width: 22.5vw;
    }
  }
}

.button-disabled {
  opacity: 1 !important;
  filter: brightness(0.5);
}

@font-face {
  font-family: 'digital-font';
  src: url(../../assets/digital-italic.ttf);
}