<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="stopwatch">Memotest</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="outline" (click)="signOut()"> Cerrar sesión </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="container bg-img ion-padding-top ion-padding-bottom">
  <div class="cards" id="cards-container">
    <ion-button class="card" *ngFor="let card of cards" (click)="flipCard(card)" [id]="getCardId(card)">
      <img [src]="card.url">
    </ion-button>
  </div>
</div>