.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    color: darkblue;
    font-family: monospace;
  }

  ion-card {
    --background: rgb(255, 228, 196, 0.75);
  }

  .cards-gif {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
    }
  }
}