<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Memotest</ion-title>
    <ion-buttons *ngIf="userInSession" slot="primary">
      <ion-button fill="outline" (click)="signOut()"> Cerrar sesión </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="container bg-img">
  <ng-container *ngIf="userInSession; else noUser">
    <div class="difficulty">
      <h1 class="title ion-margin-horizontal">Elija una dificultad:</h1>
      <div class="options ion-margin-horizontal">
        <ion-button color="success" (click)="selectDif('easy')">
          <img src="../../assets/difficulty/easy.png">
        </ion-button>
        <ion-button color="warning" (click)="selectDif('mid')">
          <img src="../../assets/difficulty/mid.png">
        </ion-button>
        <ion-button color="danger" (click)="selectDif('hard')">
          <img src="../../assets/difficulty/hard.png">
        </ion-button>
      </div>
    </div>
    <ion-fab slot="fixed" vertical="top" horizontal="end" style="margin-top: 56px">
      <ion-fab-button color="warning" (click)="showHighScores()">
        <ion-icon name="trophy-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  <ng-template #noUser>
    <ion-card class="ion-padding ion-margin">
      <ion-card-title style="font-size: 2rem; font-weight: bold;">JUEGO DE MEMORIA?</ion-card-title>
      <ion-card-subtitle style="font-size: 1.75rem;">Primero recuerde iniciar sesión.</ion-card-subtitle>
      <ion-button expand="block" shape="round" color="light" size="large"
        (click)="navCtrl.navigateBack('/login')">Ingresar</ion-button>
    </ion-card>
    <div class="cards-gif">
      <img src="../../assets/cards.gif">
    </div>
  </ng-template>
</div>